<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank Management App Page</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="fullwidthBar">
    <a href="/home/">
        {% load static %}
        <img class="img-fluid rounded mx-auto d-block imgMaxHeight center"
             src="{% static 'custom/send-notification-title.svg' %}" alt="">
    </a>
</div>
<div class='d-flex margTop'>
    <div class="mx-auto">
        <form class='mx-auto' method="POST" action="/SendNotification/">
            {% if bad_message %}
                <div class="alert alert-danger text-center margTop mx-auto w-75" role="alert">
                    <hr>
                    <h4 class="alert-heading">{{ bad_message }}</h4>
                    <hr>
                </div>
            {% endif %}
            {% if good_message %}
                <div class="alert alert-success text-center margTop mx-auto w-75" role="alert">
                    <hr>
                    <h4 class="alert-heading">{{ good_message }}</h4>
                    <hr>
                </div>
            {% endif %}
            {% csrf_token %}
            {% if user %}
                <input type="hidden" name="from" value="{{ user.email }}">
            {% endif %}
            <div class="form-group">
                <label for="course">Select Account Owner</label><br>
                <select name="user" id="email" multiple>
                    {% for item in items %}
                        <option value="{{ item.name }}">{{ item.name }}</option>
                    {% endfor %}
                </select><br>
            </div>
            <div>
                 <label for="course">Select Account Owner</label><br>
                <select name="course" id="name" multiple>
                    {% for item in items %}
                        <option value="{{ item.name }}">{{ item.name }}</option>
                    {% endfor %}
                </select><br>
            </div>
            <div>
                <label for="user">Select All Owners of Account</label><br>
                <select name="user" id="email" multiple>
                    {% for item in items %}
                        <option value="{{ user.name }}">{{ user.name }}</option>
                    {% endfor %}
                </select><br>
            </div>
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject"><br>
            <label for="message">Message:</label><br>
            <textarea id="message" name="message"></textarea><br>
            <input type="submit" class="btn btn-primary margTop float-right w-100" value="Send Email">
        </form>
        <a class="min-vw-100" href="/home/">
            <input class="btn btn-danger redButton" type="submit" value="Return To Home Page">
        </a>
    </div>
</div>
</body>
</html>
